@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Cairo:wght@200..1000&family=Outfit:wght@100..900&display=swap");

@import "tailwindcss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
@theme {
  --color_primary: #2563eb;
  --color_primary_dull: #1F58D8;
  --color_light: F1F5F9;
  --color_borderColor: #c4c7d2;
}
